<h1>
	Redmine Time Bank
</h1>
<br/>
<p>
	<label><%= l(:story_trackers) %> </label><%= select_tag("settings[story_trackers]", options_from_collection_for_select(Tracker.all, :id, :name, (@settings == '') ? [] : @settings[:story_trackers]), :multiple => true) %>
</p>
